Tuples as Data Structures

In [1]:
(10, 20, 30,)

(10, 20, 30)

In [3]:
a = (10, 20, 30)

tuple

In [5]:
type(b)

tuple

In [6]:
def print_tuple(t):
    for e in t:
        print(e)

In [8]:
print_tuple(10, 20, 30)

TypeError: print_tuple() takes 1 positional argument but 3 were given

In [9]:
print_tuple((10, 20, 30))

10
20
30

In [1]:
a = 'a', 10, 200

In [2]:
a[0]

'a'

In [3]:
a[1]

10

In [4]:
a = 1, 2, 3, 4, 5, 6

In [5]:
type(a)

tuple

In [7]:
a[2:5]

(3, 4, 5)

In [8]:
for e in a:
    print(e)

1
2
3
4
5
6

In [9]:
a = 'a', 10, 20

In [12]:
x, y, z = a

In [13]:
x

'a'

In [14]:
z

20

In [15]:
a = 1, 2, 3, 4, 5

In [16]:
x, *other, y, z = a

In [17]:
x

1

In [18]:
y

4

In [19]:
z

5

In [20]:
other

[2, 3]

In [21]:
x, *_, y, z =a

In [22]:
x, y, z

(1, 4, 5)

In [23]:
_

[2, 3]

In [24]:
a

(1, 2, 3, 4, 5)

In [27]:
a[0]= 100

TypeError: 'tuple' object does not support item assignment

In [28]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

def __repr__(self):
    return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [30]:
pt = Point2D(10, 20)

In [31]:
pt

In [32]:
pt.x = 100

In [33]:
pt

In [34]:
id(pt)

139872864509376

In [35]:
a = Point2D(0, 0), Point2D(10, 20)

In [36]:
a

(<__main__.Point2D at 0x7f36b06d47c0>, <__main__.Point2D at 0x7f36b0671a90>)

In [37]:
id(a[0])

139872864913344

In [38]:
a

(<__main__.Point2D at 0x7f36b06d47c0>, <__main__.Point2D at 0x7f36b0671a90>)

In [39]:
s = 'python'

In [42]:
s = 'python' + ' rocks!'

In [43]:
s

'python rocks!'

In [44]:
id(s)

139872616553904

In [45]:
a = 1, 2, 3

In [46]:
id(a)

139872616554112

In [47]:
a += (4, 5)

In [48]:
a

(1, 2, 3, 4, 5)

In [49]:
id(a)

139872616512464

In [50]:
a = a+ (4, 6)

In [51]:
pt1 = (0, 0)
pt2 = (10, 20)

In [52]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [54]:
london

('London', 'UK', 8780000)

In [56]:
cities = [london, new_york, beijing]

In [57]:
total = 0
for city in cities:
    total += city[2]
    print(total)

8780000
17280000
38280000

In [58]:
[city[2] for city in cities]

[8780000, 8500000, 21000000]

In [61]:
sum(city[2] for city in cities)

38280000

In [62]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [63]:
symbol, year, month, day, open , high, low, close = record

In [64]:
symbol

'DJIA'

In [65]:
close

26072

In [66]:
symbol, *_, close = record

In [67]:
symbol, close

('DJIA', 26072)

In [70]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [71]:
for city in cities:
    print(city)

('London', 'UK', 8780000)
('New York', 'USA', 8500000)
('Beijing', 'China', 21000000)

In [72]:
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [73]:
for item in enumerate(cities):
    print(item)

(0, ('London', 'UK', 8780000))
(1, ('New York', 'USA', 8500000))
(2, ('Beijing', 'China', 21000000))

In [75]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [76]:
from random import uniform
from math import sqrt

def ramdom_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)

    if sqrt(random_x **2 +)