Tuples as Data Structures

In [1]:
(10, 20, 30,)

(10, 20, 30)

In [2]:
a = (10, 20, 30)

In [3]:
type(b)

NameError: name 'b' is not defined

In [ ]:
def print_tuple(t):
    for e in t:
        print(e)

In [ ]:
print_tuple(10, 20, 30)

In [ ]:
print_tuple((10, 20, 30))

In [ ]:
a = 'a', 10, 200

In [ ]:
a[0]

In [ ]:
a[1]

In [ ]:
a = 1, 2, 3, 4, 5, 6

In [ ]:
type(a)

In [ ]:
a[2:5]

In [ ]:
for e in a:
    print(e)

In [ ]:
a = 'a', 10, 20

In [ ]:
x, y, z = a

In [ ]:
x

In [ ]:
z

In [ ]:
a = 1, 2, 3, 4, 5

In [ ]:
x, *other, y, z = a

In [ ]:
x

In [ ]:
y

In [ ]:
z

In [ ]:
other

In [ ]:
x, *_, y, z =a

In [ ]:
x, y, z

In [ ]:
_

In [ ]:
a

In [ ]:
a[0]= 100

In [ ]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

def __repr__(self):
    return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [ ]:
pt = Point2D(10, 20)

In [ ]:
pt

In [ ]:
pt.x = 100

In [ ]:
pt

In [ ]:
id(pt)

In [ ]:
a = Point2D(0, 0), Point2D(10, 20)

In [ ]:
a

In [ ]:
id(a[0])

In [ ]:
a

In [ ]:
s = 'python'

In [ ]:
s = 'python' + ' rocks!'

In [ ]:
s

In [ ]:
id(s)

In [ ]:
a = 1, 2, 3

In [4]:
id(a)

139764450311040

In [5]:
a += (4, 5)

In [6]:
a

(10, 20, 30, 4, 5)

In [7]:
id(a)

139764450223024

In [8]:
a = a+ (4, 6)

In [9]:
pt1 = (0, 0)
pt2 = (10, 20)

In [10]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [11]:
london

('London', 'UK', 8780000)

In [12]:
cities = [london, new_york, beijing]

In [13]:
total = 0
for city in cities:
    total += city[2]
    print(total)

8780000
17280000
38280000

In [14]:
[city[2] for city in cities]

[8780000, 8500000, 21000000]

In [15]:
sum(city[2] for city in cities)

38280000

In [16]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [17]:
symbol, year, month, day, open , high, low, close = record

In [18]:
symbol

'DJIA'

In [19]:
close

26072

In [20]:
symbol, *_, close = record

In [21]:
symbol, close

('DJIA', 26072)

In [22]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [23]:
for city in cities:
    print(city)

('London', 'UK', 8780000)
('New York', 'USA', 8500000)
('Beijing', 'China', 21000000)

In [24]:
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [25]:
for item in enumerate(cities):
    print(item)

(0, ('London', 'UK', 8780000))
(1, ('New York', 'USA', 8500000))
(2, ('Beijing', 'China', 21000000))

In [26]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [35]:
from random import uniform
from math import sqrt

def ramdom_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)

    if sqrt(random_x **2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
        
    return random_x, random_y, is_in_circle

In [37]:
num_attemps = 1_000_000
count_inside = 0
for i in range(num_attemps):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1

print(f'Pi is approximately: {4 * count_inside / num_attemps}')

NameError: name 'random_shot' is not defined