In [244]:
a = [1, 2, 3]
b = [1, 2,
    3, 4, 5]

In [245]:
a

[1, 2, 3]

In [246]:
b

[1, 2, 3, 4, 5]

In [247]:
a = [1 #item 1
    ,2]

In [248]:
a

[1, 2]

In [249]:
a = [1, # item 1
    2 ]

In [250]:
a

[1, 2]

In [251]:
b = [1 # a list
    ,2]

In [252]:
b

[1, 2]

In [253]:
c = (1  # a set
    ,2 # a tuple
    ,3)

In [254]:
c

(1, 2, 3)

In [255]:
s = {"key1": 1 # dictionary
    ,"key2": 2 # hello
    }  # closing brace cannot be in the comment

In [256]:
s

{'key1': 1, 'key2': 2}

In [257]:
def my_func(a,  # comment
            b,  # more comment
            c):
            print(a, b, c)

In [258]:
my_func(10, 20, 30)

10 20 30

In [259]:
my_func(48,  # comment
        76,  # comment
        35  # comment
        )

48 76 35

In [260]:
a = 10
b = 20
c = 30

In [261]:
if a > 5 \
    and b > 10 \
        and c > 20:
    print('yes')

yes

In [262]:
a = '''this
is a string'''

In [263]:
a

'this\nis a string'

In [264]:
print(a)

this
is a string

In [265]:
a = """this
    is a string
        that is created over multipule lines"""

In [266]:
a

'this\n    is a string\n        that is created over multipule lines'

In [267]:
a = '''some items:
        1. item 1
        2. item 2'''

In [268]:
print(a)

some items:
        1. item 1
        2. item 2

In [269]:
def my_func():
    a = """a multi-line string
    that is indented in the second line"""
    return a

In [270]:
print(my_func())  # second line is indented because it is indented on side the string

a multi-line string
    that is indented in the second line