FOR LOOP

for (int i = 0; I < 5; i++) [ ... ]

In [3]:
i = 1
while i < 5:
    print(i)
    i += 1
i = None

1
2
3
4

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in [1, 2, 3, 4]:
    print(i)

1
2
3
4

In [7]:
for c in 'hello':
    print(c)

h
e
l
l
o

In [8]:
for x in ('a', 'b', 'c', 4):
    print(x)

a
b
c
4

In [9]:
for i, j in [(1, 2), (3, 4), (5, 6)]:
    print(i, j)

1 2
3 4
5 6

In [10]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [11]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [13]:
for i in range(1, 5):
    print(i)
    if i % 7 == 0:
        print('multiple of 7 found')
        break
else:
    print('no multiple in the range')

1
2
3
4
no multiple in the range

In [14]:
for i in range(1, 10):
    print(i)
    if i % 7 == 0:
        print('multiple of 7 found')
        break
else:
    print('no multiple in the range')

1
2
3
4
5
6
7
multiple of 7 found

In [15]:
for i in range(5):
    print('-------------------')
    try:
        10 / (i-3)
    except ZeroDivisionError:
        print('dividided by 0')
        continue
    finally:
        print('always runs')
    
    print(i)

-------------------
always runs
0
-------------------
always runs
1
-------------------
always runs
2
-------------------
dividided by 0
always runs
-------------------
always runs
4

In [16]:
s = 'hello'
for c in s:
    print(c)

h
e
l
l
o

In [17]:
s = 'hello'
i = 0
for c in s:
    print(i, c)
    i += 1

0 h
1 e
2 l
3 l
4 o

In [18]:
s = 'hello'

for i in range(len(s)):
    print(i, s[i])

0 h
1 e
2 l
3 l
4 o

In [19]:
s = 'hello'

for i, c in enumerate(s):
    print(i, c)

0 h
1 e
2 l
3 l
4 o