Unpacking iterables

In [1]:
a = (1,2,3)

In [2]:
type(a)

tuple

In [3]:
a = 1, 2, 3

In [4]:
type(a)

tuple

In [5]:
a

(1, 2, 3)

In [6]:
a = (1)

In [7]:
type(a)

int

In [8]:
a = ('a')

In [9]:
type(a)

str

In [10]:
a

'a'

In [11]:
a = (1,)

In [12]:
a

(1,)

In [13]:
type(a)

tuple

In [14]:
a = 100,

In [15]:
type(a)

tuple

In [16]:
a

(100,)

In [17]:
a = ()

In [18]:
type(a)

tuple

In [19]:
a = ,

SyntaxError: invalid syntax (<ipython-input-19-95e8fdfb9ab8>, line 1)

In [20]:
a = (,)

SyntaxError: invalid syntax (<ipython-input-20-95a348146c10>, line 1)

In [21]:
a, b, c = [1, 'a', 3.14]

In [22]:
a

1

In [23]:
c

3.14

In [24]:
(a, b, c) = [1, 2, 3]

In [26]:
a

1

In [27]:
b

2

In [28]:
c

3

In [29]:
(a, b) = (1, 2)

In [30]:
a

1

In [31]:
b

2

In [32]:
a, b = 10, 20

In [33]:
a

10

In [34]:
b

20

In [35]:
a, b, c = 10, 20, 30

In [36]:
a

10

In [37]:
b

20

In [38]:
c

30

In [39]:
a, b, c = 10, 'a', 3.14

In [40]:
a

10

In [41]:
b

'a'

In [42]:
c

3.14

In [47]:
a, b, c = 10, {1, 2}, ['a', 'b']

In [48]:
a

10

In [49]:
b

{1, 2}

In [51]:
c

['a', 'b']

In [52]:
a, b = 10, 20

In [53]:
print(a, b)

10 20

In [57]:
a, b = b, a

In [58]:
print(a, b)

10 20

In [59]:
for e in 'XYZ':
    print(e)

X
Y
Z

In [60]:
a, b, c = 'XYZ'

In [61]:
a

'X'

In [62]:
b

'Y'

In [63]:
c

'Z'

In [64]:
s = 'XYZ'

In [65]:
s[0]

'X'

In [66]:
s = {1, 2, 3}

In [68]:
s = {1, 2, 3}

In [69]:
s[0]

TypeError: 'set' object is not subscriptable

In [70]:
s ={'p', 'y', 't', 'h', 'o', 'n'}

In [71]:
print(s)

{'o', 'h', 'y', 'n', 'p', 't'}

In [73]:
for e in s:
    print(e)

o
h
y
n
p
t

In [74]:
a, b, c, d, e, f = s

In [75]:
a

'o'

In [76]:
b

'h'

In [78]:
d = {'a': 1, 'b': 2, 'C': 3}

In [79]:
for e in d:
    print(e)

a
b
C

In [80]:
a, b, c = d

In [81]:
a

'a'

In [82]:
b

'b'

In [83]:
c

'C'

In [84]:
d

{'a': 1, 'b': 2, 'C': 3}

In [85]:
d = {'a': 1, 'b': 2, 'C': 3, 'd': 4}

In [86]:
a, b, c, d = d

In [87]:
a

'a'

In [88]:
b

'b'

In [89]:
c

'C'

In [90]:
d

'd'

In [94]:
d = {'a': 1, 'b': 2, 'C': 3, 'd': 4}

In [96]:
d,a, b, c = d

In [97]:
d

'a'

In [98]:
a

'b'

In [99]:
b

'C'

In [100]:
d

'a'

In [102]:
d = {'a': 1, 'b': 2, 'C': 3, 'd': 4}

In [103]:
for e in d:
    print(e)

a
b
C
d

In [104]:
for e in d.values():
    print(e)

1
2
3
4

In [109]:
a, b, c, d = d.values()

In [110]:
a

1

In [111]:
b

2

In [112]:
c

3

In [113]:
d

4

In [116]:
dict1 = {'a': 1, 'b': 2, 'C': 3, 'd': 4}

In [120]:
for e in dict1.items():
    print('key={0}, value={1}'.format(a, b))

key=1, value=2
key=1, value=2
key=1, value=2
key=1, value=2