In [74]:
(10, 20, 30)

(10, 20, 30)

In [75]:
a = (10, 20, 30)
b = 10, 20, 30

In [76]:
type(a)

tuple

In [77]:
type(b)

tuple

In [78]:
def print_tuple(t):
    for e in t:
        print(e)

In [79]:
print_tuple(10, 20, 30)

TypeError: print_tuple() takes 1 positional argument but 3 were given

In [ ]:
print_tuple((10, 20, 30))

10
20
30

In [ ]:
a = 'a', 10, 200

In [ ]:
a[0]

'a'

In [ ]:
a[1]

10

In [ ]:
a = 1, 2, 3, 4, 5, 6

In [ ]:
type(a)

tuple

In [ ]:
for e in a:
    print(e)

1
2
3
4
5
6

In [ ]:
a = 'a', 10, 20

In [ ]:
x, y, z = a

In [ ]:
x

'a'

In [ ]:
z

20

In [ ]:
a = 1, 2, 3, 4, 5

In [ ]:
x, *other, y, z = a

In [ ]:
x

1

In [ ]:
z

5

In [ ]:
other

[2, 3]

In [ ]:
x, y, z

(1, 4, 5)

In [ ]:
_

(1, 4, 5)

In [ ]:
a[0]

1

In [ ]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'{self.__class__,__name__}(x={self.x}, y={self.y})'

In [ ]:
pt = Point2D(10, 20)

In [ ]:
pt

(<class '__main__.Point2D'>, '__main__')(x=10, y=20)

In [ ]:
pt.x = 100

In [ ]:
Point2D(x=10, y=20)

(<class '__main__.Point2D'>, '__main__')(x=10, y=20)

In [ ]:
pt

(<class '__main__.Point2D'>, '__main__')(x=100, y=20)

In [ ]:
id(pt)

139904045099760

In [ ]:
pt.x = 100

In [ ]:
pt

(<class '__main__.Point2D'>, '__main__')(x=100, y=20)

In [ ]:
id(pt)

139904045099760

In [ ]:
a = Point2D(0, 0), Point2D(10, 20)

In [ ]:
a

((<class '__main__.Point2D'>, '__main__')(x=0, y=0),
 (<class '__main__.Point2D'>, '__main__')(x=10, y=20))

In [ ]:
id(a[0])

139904044532832

In [ ]:
a[0].x

0

In [ ]:
a

((<class '__main__.Point2D'>, '__main__')(x=0, y=0),
 (<class '__main__.Point2D'>, '__main__')(x=10, y=20))

In [ ]:
s ='python'

In [ ]:
id(s)

139904033508784

In [ ]:
s = 'python' + ' rocks!'

In [ ]:
s

'python rocks!'

In [ ]:
id(s)

139904033508784

In [ ]:
a = 1, 2, 3

In [ ]:
id(a)

139904033708992

In [ ]:
a += (4, 5)

In [ ]:
a

(1, 2, 3, 4, 5)

In [ ]:
id(a)

139904033954048

In [ ]:
a = a + (4, 5)

In [ ]:
pt1 = (0, 0)
pt2 = (10, 20)

In [ ]:
london = 'London', 'UK', 8_780_000
new_york = 'Ney York', 'USA', 8_500_000
bejing = 'Beijing', 'China', 21_000_000

In [ ]:
london

('London', 'UK', 8780000)

In [ ]:
cities = [london, new_york, bejing]

In [81]:
total = 0
for city in cities:
    total += city[2]
    print(total)

8780000
17280000
38280000

TypeError: 'int' object is not subscriptable

In [83]:
cities = [london, new_york, bejing, 100]

In [80]:
total = 0
for city in cities:
    total += city[2]
    print(total)

8780000
17280000
38280000

TypeError: 'int' object is not subscriptable

In [84]:
cities = [london, new_york, bejing]

In [85]:
total = 0
for city in cities:
    total += city[2]
    print(total)

8780000
17280000
38280000

In [86]:
[city[2] for city in cities]

[8780000, 8500000, 21000000]

In [88]:
sum(city[2] for city in cities)

38280000

In [89]:
total = sum(city[2] for city in cities)

In [90]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [95]:
symbol, year, month, day, open_, high, low, close = record

In [96]:
symbol

'DJIA'

In [97]:
close

26072

In [98]:
symbol, *_, close = record

In [99]:
symbol, close

('DJIA', 26072)

In [100]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [101]:
for city in cities:
    print(city)

('London', 'UK', 8780000)
('Ney York', 'USA', 8500000)
('Beijing', 'China', 21000000)

In [102]:
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
Ney York USA 8500000
Beijing China 21000000

In [103]:
for item in enumerate(cities):
    print(item)

(0, ('London', 'UK', 8780000))
(1, ('Ney York', 'USA', 8500000))
(2, ('Beijing', 'China', 21000000))

In [104]:
for indexc, city in enumerate(cities):
    print(item)

(2, ('Beijing', 'China', 21000000))
(2, ('Beijing', 'China', 21000000))
(2, ('Beijing', 'China', 21000000))

In [105]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8780000)
1 ('Ney York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [107]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    if sqrt(random_x **2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
    
    
    return random_x, random_y, is_in_circle

In [115]:
num_attempts = 1_000_000
count_inside = 0
for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1


print(f'Pi is approximauely: {4 * count_inside / num_attempts}')

Pi is approximauely: 3.138868

OOps